<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
        <img src="{{ contact["Avatar"] }}" width="300">
        <p>Fullname: {{ contact["Fullname"] }}</p>
        <p>DOB: {{ contact["DOB"] }}</p>
        <p>Location: {{ contact["Location"] }}</p>
        <p>Martial Status: {{ contact["Martial Status"] }}</p>
        <p>Email: {{ contact["Email"] }}</p>
        <p>Phone: {{ contact["Phone"] }}</p>
        <p>Education: {{ contact["Education"] }}</p>

</body>
</html>