<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>
    {{ current_time }}<br>
   <h1>{{ number_of_visitor }}<br></h1>

    <h1>hê hê hê hê</h1>
    <h2>hê hê hê hê</h2>
    <h3>hê hê hê hê</h3>
    <h4>hê hê hê hê</h4>
    <h5>hê hê hê hê</h5>
    <h6>hê hê hê hê</h6>
    <p>hê hê hê</p>
    <p>hê hê hê</p>
    <div>hê hê hê hê</div>
    <div>hê hê hê hê</div>

    <img src="http://cs631725.vk.me/v631725094/2837c/A9LIF-zoGT0.jpg" alt="miracle"><br>

    <a href="http://google.com" target="_blank">go to google</a>
    <!-- comment here: -->

</body>
</html>