<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update food</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="../../static/css/style_foodblog.css">
</head>
<body>
    <form class="w3-container" method="post">
        <label>Old title</label>
        <input class="w3-input" type="text" name="title">

        <label>New title</label>
        <input class="w3-input" type="text" name="new_title">

        <label>source</label>
        <input class="w3-input" type="text" name="source">


        <label>description</label>
        <input class="w3-input" type="text" name="description"><br>

        <input class="w3-btn w3-teal" type="submit" value="submit">
    </form>
</body>
</html>